#player {
  position: fixed;
  bottom:0;
  width:100%;
  height:60px;
}

#show-list-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#show-list-header > div {
  margin-right: 50px;
}