#mixcloud-player {

  width:100%;
  height:120px;
}
#spotify-player {
  width:100%;
  height:152px;
}


#show-list-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#show-list-header > div {
  margin-right: 50px;
}

#episode-list-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#episode-list-header > div {
  margin-right: 50px;
}

#episode-list-container{
  padding:15px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #272c2F;
  color:#edeef0
}

.episode-title {
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.episode-date {
  width: 20%;
  margin-left: 5px;
  margin-right: 5px;
}

.episode-description {
  width: 80%;
  color: #edeef0;
  margin-left: 20px;
}

.show-title {
  width: 30%;
  margin-left: 5px;
}

.show-description {
  width: 50%;
  color: #edeef0;
}

#show-list-container{
  padding:15px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #272c2F;
  color:#edeef0;

}

#search-list-container{
  padding:15px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #272c2F;
  color:#edeef0;
  margin-top: 55px;
}

#broadcaster-card{
  background-color: #272c2F;
}
#show-card{
  background-color: #272c2F;
}

.broadcaster-card-content{
  background-color: #272c2F;
  color:#edeef0;
  padding: 8px;
  margin: 20px;
}
.show-card-content{
  background-color: #272c2F;
  color:#edeef0;
  padding: 8px;
  margin: 20px;
}

#spotify-player {
  background-color: #2e2e2e;
}

.episode-card-content{
  background-color: #272c2F;
  color:#edeef0;
  padding: 8px;
  margin: 20px;
}

#episode-card{
  background-color: #272c2F;
  height: 700px;
}

body {
  background-color: #272c2F;
}

.show-text-container {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

#player-container {
  height: 152px;
  width:100%
}

#episode-page{
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

