#mixcloud-player {
  position: fixed;
  bottom:0;
  width:100%;
  height:120px;
}
#spotify-player {
  position: fixed;
  bottom:0;
  width:100%;
  height:152px;
}

/* .iframe{
  position: absolute;
  top: 0;
  height:100%
} */